* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    /* background-image: url(img/26289304_l.jpg); */
    background-size:contain;
    background-attachment: fixed;
    color:#fff;
    background-color: #4c657a;
} 

/*========= LoadingのためのCSS ===============*/

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 999;
	background:#151f27;
	text-align:center;
	color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo svg{
    width:300px;
}

/*=============== SVGアニメーション内の指定 =================*/

/*アニメーション前の指定*/
#mask path {
		fill-opacity: 0;/*最初は透過0で見えない状態*/
		transition: fill-opacity .5s;/*カラーがつく際のアニメーション0.5秒で変化*/
		fill: none;/*塗りがない状態*/
		stroke: #ffffff;/*線の色*/
	}

/*アニメーション後に.doneというクラス名がで付与された時の指定*/
#mask.done path{
	  fill: #ffffff;/*塗りの色*/
	  fill-opacity: 1;/*透過1で見える状態*/
	  stroke: none;/*線の色なし*/
	}

  /* ログイン時のメッセージ */
  .tyuui_text{
    position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
/*------------- 音楽設定の画面 -------------- */

/* Loading背景画面設定　*/
#splash2 {
  /*fixedで全面に固定*/
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 800;
	background:#151f27;
	text-align:center;
	color:#fff;
}

/* Loading画像中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#splash_text input {
  font-size     : 20px;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 43px 29px;   /* 余白       */
  background    : #151f27;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #151f27;    /* 枠の指定 */
}
/* ----------------- メインコンテンツのすべて適用するもの -------------------- */
h1 {
  text-align: right;
  font-size: 70px;
  margin: 10px 0px;
}
h3 {
  text-align: left;
}
p {
  font-size: 15px;
}
/* ----------------- メインコンテンツのすべて適用するもの終わり -------------------- */

/* ------------ スクロール -------------- */
.box{
  color: #fff;
  padding: 40px;
/* justify-content: center;
align-items: center;
text-align: center; */
}
/* --------------- ヘッダー -----------------*/
header {
  position: fixed;
  top: 20px;
  left: 25%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  padding: 0px 20%;
} 
#header_logo {
position: fixed;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  padding: 0px 150px;
  margin: auto;
  padding: auto;
}

.scroll_num {
color: #00000000;
}
/* ------------------- ヘッダー終わり ------------------- */
/* ---------------- ②アバウトページ ------------------- */
#box2{
  background: #bfdce656;
  backdrop-filter: blur(1.5px);
}
/*---- スライダーのためのcss ------*/
.slider img {
  position: relative;
  width:100%;/*スライダー内の画像を横幅100%に*/
  height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
  margin:0 10px;/*スライド左右の余白調整*/
}
/* ---- スライダーのcss終わり ---- */
.text_consept1{
  text-align: left;
  /* margin: 20px 0px; */
  padding: 20px; 
}
/* ---------------- ②アバウトページ終わり ------------------- */
/* ---------------- ③コンセプトページ -------------------- */
#box3{
  text-align: left;
  background: #5e89af49;
  display       : inline-block;         /* インラインブロック化 */
  position      : relative;             /* 親要素               */
  overflow      : hidden;               /* はみ出しは非表示     */
  backdrop-filter: blur(1.5px);
}
.text_consept2{
  text-align: left;
  border-left: #fff solid 10px;
  margin: 20px 0px;
  padding: 20px;
}
#box3 h2 {
  font-size: 20px;
  text-align: right;
}
.back_ani{
  z-index: -1;
  position      : absolute;             /* 親要素からの相対位置 */
  display       : inline-block;         /* インラインブロック化 */
  font-size     : 40pt;                 /* 背景透かし文字サイズ */
  font-weight   : bold;                 /* 太字                 */
  transform     : translate(-50%, -50%)
}
.back_ani_text1 {
  position: fixed;
  white-space   : nowrap;               /* 折り返ししない       */
  margin:0px;
  font-size:200px;         /*文字サイズ*/
  color: rgba(255, 255, 255, 0.614);
  animation: flowing 100s linear infinite;    /*アニメーション*/
  transform:translateX(10%);
}
.back_ani_text2 {
  position: fixed;
  top: 200px;
  white-space   : nowrap;               /* 折り返ししない       */
  margin:0px;
  font-size:200px;         /*文字サイズ*/
  color: rgba(255, 255, 255, 0.667);            /*文字の色*/
  animation: flowing 100s linear infinite;    /*アニメーション*/
  transform:translateX(10%);
}
@keyframes flowing {
  100% {
    transform:translateX(-100%);    /*終了の位置*/
  }}
/* ---------------- ③コンセプトページ終わり -------------------- */
/* ---------------- ④サービスページ -------------------- */
#box4{
  background: #4660754d;
  backdrop-filter: blur(1.5px);
}
.service_img {
  margin: 0px;
}
/* ---------------- ④サービスページ終わり -------------------- */
/* ---------------- ⑤パーソンページ ----------------------- */
#box5{
  background: #0b16223a;
  text-align: left;
  backdrop-filter: blur(1.5px);
}
#box5 p {
  margin: 10px;
}
/* ---------------- ⑤パーソンページ ---------------------- */
/* ------------------- フッター　------------------------ */
#footer {
  display: flex;
  background: #0000007a;
  text-align: center ;
  padding: 60px;
  backdrop-filter: blur(25px);
  flex-wrap: wrap;
}
.chuo_img {
  margin-left: 10%;
}
.chuo_link {
  text-align: left;
  margin:10px 0 0 10%
  
}
/* ------------------- フッター終わり --------------------- */
/*========= ページネーションCSS ===============*/

.pagination {
  position:fixed;
  right:20px;
  top: 50%;
    transform: translateY(-50%);
  font-size:1em;
  z-index: 10;
  list-style: none;
}

.pagination a {
  display:block;
  height:20px;
  margin-bottom:5px;
  color:#fff;
  position:relative;
  padding:4px;
}

.pagination a.active:after {
  box-shadow:inset 0 0 0 5px;
}

/*現在地表示のテキストの設定*/
.pagination a .hover-text {
  position:absolute;
  right:15px;
  top:0;
  opacity:0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}

.pagination a:hover .hover-text {
  opacity: 1;
}

.pagination a:after {
  -webkit-transition:box-shadow 0.5s ease;
  transition:box-shadow 0.5s ease;
  width:10px;
  height:10px;
  display: block;
  border:1px solid;
  border-radius:50%;
  content:"";
  position: absolute;
  margin:auto;
  top:0;
  right:3px;
  bottom:0;
}

/* ------------- スクロール終わり ----------- */

/*========= テキストアニメーション ===============*/

/*全共通*/

.slide-in {
	overflow: hidden;
    display: inline-block;
}

.slide-in_inner {
	display: inline-block;

}

.leftAnime{
    opacity: 0;/*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
	animation-name:slideTextX100;
	animation-duration:0.8s;
	animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextX100 {
  from {
	transform: translateX(-100%); /*要素を左の枠外に移動*/
        opacity: 0;
  }

  to {
	transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeRightLeft {
	animation-name:slideTextX-100;
	animation-duration:0.8s;
	animation-fill-mode:forwards;
    opacity: 0;
}


@keyframes slideTextX-100 {
  from {
	transform: translateX(100%);/*要素を右の枠外に移動*/
    opacity: 0;
  }

  to {
	transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}
/* -------------- テキストアニメーション終わり ---------------- */
/*--------------- 背景動画 ------------------------*/
#back{
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;/*高さを全画面にあわせる*/
} 

#video-area{
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}
/* --------------- 背景動画終わり ----------------- */

/* ------------------- メインの始まり ------------------ */

.main {
  margin-top: 200px;
  padding-top:50px;
  
}

@media (min-width: 500px)

{
    /* メインのレイアウト */
    .main {
        border-style: solid;
        border-color: #fff;
        border-width: 0 1px;
    }
    .main {
        margin: auto;
        overflow: hidden;
        max-width: 500px;
        position: relative;
        z-index: 2;
    }


}
    
  
  